*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/Assets/img/demo2.png);
    background-size: 100%;
    margin: 0;
    padding: 0;
    
    
}

.nav-item{
    font-family: 'Roboto', sans-serif;
    color: orange;
    font-size: 1.3rem;
    font-weight: 300;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3fr 50px ;
    grid-column-start: 2;
    
}

.container-fluid{
    width: 100%;
    align-items: center;
    /* display: flex;
    flex-direction: column; */

    
}
.boton{
    text-align: center;
}
#encuesta{
    margin-left: 12rem;
}

h1{
    color: lightseagreen;
    text-align: center;
}

.footer-container{
    grid-row-start: 2;
    grid-row-end: 4;
  

}

@media screen and (min-width: 1000px){
    #reloj1{
        display: none;
    }
}

@media screen and (min-width: 1200px){
    #reloj1{
        display: none;
    }
}