body{
    margin: 0;
    padding: 0;

    background-image:url(/Assets/img/demo2.png);
 
}

#title{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Rubik Spray Paint', cursive;
    font-size: 5rem;
    font-style: bold;
    font-weight: 900;
    background: -webkit-linear-gradient(yellow,red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: tomato;
        
}

.bg-light{
    background: transparent !important;
}

.nav-item{
    font-family: 'Roboto', sans-serif;
    color: orange;
    font-size: 1.3rem;
    font-weight: 300;
}

.card-text{
    text-align: justify;
}

.card-body{
    height: fit-content;
}
.card-body img{
    height: 304px;
}

footer{
    margin: 0;
    width: 100%;
    height: auto;
}

.footer{
    width: 100%;
}

@media screen and (min-width: 1000px){
    #reloj1{
        display: none;
    }
}

@media screen and (min-width: 1200px){
    #reloj1{
        display: none;
    }
}